.product-summary {
  width: 100%;
  /* background-color: #bac3e7; */

}
.product-summary .info-summary {
  display: flex;
  flex-wrap: wrap;


}
.card {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f1f2f6;
}
.card1 {
  background-color: #2b1ccf;
}
.card2 {
  background-color: #32963d;
}
.card3 {
  background-color: #f50a11;
}
.card4 {
  background-color: #03a5fc;
}
